*{
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    display: flex;
    height: 60px;
    width: 100vw;
    background-color: #0F1111;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 120px;
    background-image: url("images/amazon1.png");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y:5px;
    padding: 1px, 8px,0px,6px;
    /* margin-left: 10px; */

}
.nav-add{
    color:#cccccc;
   
    font-family: Arial, Helvetica, sans-serif;
}
.nav-icon{
    display: flex;
    color:#ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-add p{
    margin-left:15px ;
}
.nav-search{
    display: flex;
    
    width: 500px; 
}
.search-icon{
    display: flex;
    color: #ffffff;
    height: 30px;
    width: 45px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    justify-content: center;
    align-items: center;
    background-color: #febd68;
    border: none;
    color: #0F1111;
}
.select{
    color: #0F1111;
    height: 30px;
    width: 45px;
    border-top-left-radius:4px ;
    border-bottom-left-radius:4px ;
    border: none;
    text-align: center;
}
.search-input{
    height: 30px;
    width: 100%;
    border: none;
}
.language{
    display: flex;
    align-items: center;
    height: 50px;
    width: 73px;
    color:#ffffff;
}
.flag{
    height: 16px;
    width: 21px;
}
.nav-account{
    
    font-size: 12px;
    color: #ffffff;
}
.account-low{
    font-size: 14px;
    font-weight: 700;
}
.cart{
    display: flex;
    color: #ffffff;
}
.cart i{
    font-size: 26px;
}
.cartn1{
    padding-bottom: 0;
    padding-top: 7px;
}
.border{
    border: 1px solid #0F1111;
}
.border:hover{
    border-color: #ffffff;
}
.border1:hover{
    border: 1px solid #febd68;

}
/* navbar 2 start here */
.navbar2{
    display: flex;
    background-color: #091725;
}
.nav-items{
        height: 100%;
        width: fit-content;
        padding: 8px 9px;
        color: #ffffff;
        margin-left: 5px;
        font-size: 14px;
}
.icon2{
    display: flex;

}
.border3{
    border: 1px solid #091725;
}
.border3:hover{
    border-color: #ffffff;
}
/* COVER box images */
.cover-image{
    height: 400px;
    width: 100wv;
    animation-name: coverimage;
    animation-delay: 0s;
    animation-duration: 20s;
    animation-timing-function:step-end;
    animation-iteration-count:infinite;
    animation-direction: alternate-reverse;
    background-size: cover;
    background-image: url("images/cover1.jpg");
    
}
@keyframes coverimage {
    
    0% {background-image: url("images/cover2.jpg");}
    20% {background-image: url("images/cover3.jpg");}
    40% {background-image: url("images/cover4.jpg");}
    60% {background-image: url("images/cover5.jpg");}
    80% {background-image: url("images/cover6.jpg");}
    100% {background-image: url("images/cover7.jpg");}

}
.cards
{
    height: 980px;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;

}

.card1{
 margin: 15px;
}
text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;

}
.text2{
    display: flex;
    justify-content: space-evenly;
}
.text2_1{
margin-left: 0px;
}
.text2_2{
    margin-left: 0px;
}

    
.image1{

    
height: 102px;
width:163px;
background-image: url("images/main_1.jpg");
margin: 10px;}


.image2{
height: 102px;
width:163px;
background-image: url("images/main_2.jpg");
margin: 10px;

}
.image3{
height: 102px;
width:163px;
background-image: url("images/main_3.jpg");
margin: 10px;

}
.image4{
height: 102px;
width:163px;
background-image: url("images/main_4.jpg");
margin: 10px;

}
.imagec2_1{

    
    height: 102px;
    width:163px;
    background-image: url("images/c2_1.jpg");
    margin: 10px;}
    
    
    .imagec2_2{
    height: 102px;
    width:163px;
    background-image: url("images/c2_2.jpg");
    margin: 10px;
    
    }
    .imagec2_3{
    height: 102px;
    width:163px;
    background-image: url("images/c2_3.jpg");
    margin: 10px;
    
    }
    .imagec2_4{
    height: 102px;
    width:163px;
    background-image: url("images/c2_4.jpg");
    margin: 10px;
    
    }
    .imagec3_1{

    
        height: 102px;
        width:163px;
        background-image: url("images/c3_1.jpg");
        margin: 10px;}
        
        
        .imagec3_2{
        height: 102px;
        width:163px;
        background-image: url("images/c3_2.jpg");
        margin: 10px;
        
        }
        .imagec3_3{
        height: 102px;
        width:163px;
        background-image: url("images/c3_3.jpg");
        margin: 10px;
        
        }
        .imagec3_4{
        height: 102px;
        width:163px;
        background-image: url("images/c3_4.jpg");
        margin: 10px;
        
        }

        